<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h1>Navegação</h1>
	<ion-button (click)="carregar('botoes')" expand="full">Botões</ion-button>
	<ion-button (click)="carregar('entrada')" expand="full">Entrada</ion-button>
	<ion-button (click)="carregar('estrutura')" expand="full">Estrutura</ion-button>
	<ion-button (click)="carregar('grid')" expand="full">Grid</ion-button>
	<ion-button (click)="carregar('lista')" expand="full">Lista e Cartões</ion-button>
	<ion-button (click)="carregar('databiding')" expand="full">databiding</ion-button>

</ion-content>

