<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h4>abel position = floating</h4>
	<ion-item>
		<ion-label position="floating">Seu nome:</ion-label>
		<ion-input></ion-input>
	</ion-item>

	<h4>label position = fixed</h4>
	<ion-item>
		<ion-label position="fixed">Seu nome:</ion-label>
		<ion-input></ion-input>
	</ion-item>

	<h4>*label position = stacked</h4>
	<ion-item>
		<ion-label position="stacked">Seu nome:</ion-label>
		<ion-input></ion-input>
	</ion-item>

	<h4>Entrada de dados (value, placeholder, clearinput)</h4>
	<ion-item>
		<ion-input clearInput placeholder="Digite seu nome" value="Felipe"></ion-input>
	</ion-item>



	<h4>Tipos de entradas (text,number, password, email, tel, url, search)</h4>
	<ion-item>
		<ion-label>Texto:</ion-label>
		<ion-input type="text"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Número:</ion-label>
		<ion-input type="number"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>Password:</ion-label>
		<ion-input type="password"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>email:</ion-label>
		<ion-input type="email"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>tel:</ion-label>
		<ion-input type="tel"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>url:</ion-label>
		<ion-input type="url"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>search:</ion-label>
		<ion-input type="search"></ion-input>
	</ion-item>
	
</ion-content>
